#Requirements for xnys-get-top150tickers-marketcap (and other cloud run functions that fetch xnas and xase)
# Core dependencies
pandas>=2.2.2
requests>=2.32.3
tqdm>=4.66.5

# Polygon SDK
polygon-api-client>=1.13.6

# Google Cloud Pub/Sub
google-cloud-pubsub>=2.23.0

# SQLite compatibility for Cloud Run
pysqlite3-binary>=0.5.3
